@font-face {
    font-family: 'BigNoodleTooOblique';
    src: url('/home/XATT/overwatch/main/static/css/fonts/BigNoodleTooOblique.woff2') format('woff2'),
         url('/home/XATT/overwatch/main/static/css/fonts/BigNoodleTooOblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
