<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}


<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<style>
  @font-face{
    font-family: BigNoodleTooOblique;
    src: {% static 'css/fonts/BigNoodleTooOblique.eot' %};
    src: {% static 'css/fonts/BigNoodleTooOblique.eot?iefix' %} format('eot'),
    {% static 'css/fonts/BigNoodleTooOblique.woff' %} format('woff'),
    {% static 'css/fonts/BigNoodleTooOblique.ttf' %} format('truetype'),
    font-weight: normal;
    font-style: normal;
  }

  body, h1, h2, h3 {font-family: BigNoodleTooOblique}

  h4, h5 {font-family: "Helvetica"}
</style>

<body>

  <div class="bgimg w3-display-container w3-animate-opacity w3-text-light-blue">
    <div class="w3-display-topright w3-padding-large w3-xlarge">
      {% if user.is_authenticated %}
        <h3>{{ user }}</h3>
        <a href="/main/out/">Выйти</a><br>
      {% else %}
        <a href="/main/sign/">Регистрация</a>
        <a href="/main/in/">Войти</a><br>
      {% endif %}
    </div>
    {% block index %}{% endblock %}
    {% block highlights %}{% endblock %}
    {% block onevideo %}{% endblock %}
    {% block sign %}{% endblock %}
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      <a href="{% url 'index' %}"><img src="{% static 'text.png' %}" width="350px"></a>
    </div>
  </div>

</body>

</html>